*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* Josh Cameau css reset ^^^ */



body {
    width: 100%;
    height: 100vh;
     font-family: 'NewTelegraphRegular', Georgia, 'Times New Roman', serif;
}

.container {
 display: flex;
 height: 100%
}

@font-face {
    font-family: "Norse-Bold";
    src: url("src/Norse-Bold.otf");
}




/* LEFT SIDE  */
.left {
    display: flex;
    background-image: url("src/halie-west-25xggax4bSA-unsplash.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255,255,255);
    align-items: center;
}

.logoDiv {
    display: flex;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0,0,0,30%);
    color: rgba(255,255,255);
    justify-content: center;
    align-items: center;
}

.logo {
  width: 25%;
}
.logoText {
  font-family: "Norse-Bold";
  font-size: 10rem;
}

.logoDivLink:link {
  color: rgba(255,255,255);
}

.logoDivLink:visited {
  color: rgba(255,255,255);
}

.header{
    font-size: 2rem;
    
}
.headerText1 {
    margin-bottom: 40px;
    font-weight:600;
}

.headerText2 {
    font-weight: 600;
}






/* RIGHT SIDE  */
.right {
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}

.header,.form,.footer {
    margin-left: 60px;
    width: 60%;
}





/*  FORM DIV */
.formDiv {
    background-color: rgb(255, 255, 255);
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-shadow: 3px 15px 11px -11px rgba(167, 168, 188, 1);
  -moz-box-shadow: 3px 15px 11px -11px rgba(167, 168, 188, 1);
  box-shadow: 3px 15px 11px -11px rgba(167, 168, 188, 1);
    
}


.formFieldset {
  display: flex;
  border: none;
  flex-direction: column;
  flex-wrap: nowrap;

}

.formLegend {
  font-size:2rem;
  margin-bottom: 30px;
}

label, input {
  display: block;
  padding: 5px;
  margin: 5px;
}

.formInput {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  margin-right: 15px;
}



.formInput:invalid:focus {
  border:2px solid red;
}


.formInput:focus {
  outline: none;
  border:2px solid rgb(160, 142, 225);
   box-shadow: 3px 15px 11px -11px rgba(167, 168, 188, 1);
}



.inputRow {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;

}

.inputRow> .formLabel{
  flex: 1 1 45%;
  min-width: 200px;
}

.formLabel {
  font-size: small;
   max-width: 500px;
  width: 100%;
  font-weight: 500;
  color: rgb(65, 64, 64);
  margin-left: 10px;
}

.formLabelText {
  margin-left: 10px;
}

@media screen and (max-width: 975px) {
  .formInput {
  border: 1px solid rgb(220,220,220);
  border-radius: 4px;
  max-width: 100px;
   max-width: 250px;
  width: 100%;

}
.inputRow {
  display: flex;
  flex-wrap: nowrap;
}

.inputRow> .formLabel{
  flex: 1 1 45%;
  min-width: 20px;
}

}








/* FOOTER */

.footerButton {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #596D48;
  border: none;
  color: rgb(255,255,255);
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 15px;

}

.footer { 
  
  margin-bottom: 40px;
}



.footerTextLink:link {
  color: #596D48;
  text-decoration: none;
  font-weight: 600;
}

.footerTextLink:visited {
  color: #596D48;
}

